<div class=" h-screen bg-white flex flex-row box-border">
  <div class="w-4/5 h-screen flex flex-col">
    <header class="border-b-2 border-b-[#16354D] flex items-center">
      <h1 class="font-sans font-medium text-3xl text-[#16354D] py-2 px-4 "><-</h1>
      <hr class="border-r-2 border-r-[#16354D] h-3/5">
    </header>

    <div class="flex flex-col h-full">
      <div class="mx-5  my-6">
        <%= @node_text %>
      </div>
        <div class="mt-auto">
          <ol class="border-t-2 border-t-[#16354D]">
            <%- @links.each do |link| %>
              <li class=" h-11  mx-5 first:mt-7 my-3 even:bg-[#E4E5EA] rounded-xl">
                <%= link_to link['text'],
                            "/play/#{@quest_session.code}/select/#{link['id']}",
                            class: "flex w-auto h-full rounded-xl items-center pl-6
                                border-2 border-[#16354D] font-medium
                                hover:text-cyan-600 hover:border-cyan-700 hover:font-bold " %>
              </li>
            <% end %>
          </ol>
        </div>


    </div>
  </div>
  <div class="w-1/5 bg-[#16354D]">

  </div>
</div>

<!-- rounded-md bg-white font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none
                       focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 -->